body {
  background-color: #ecf4f3;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 6%;
}

h1 {
  color: #2ec1ac;
}

h3 {
  color: #66bfbf;
}
