body {
  background-color: #ecf4f3;
  font-family: 'Architects Daughter', cursive;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 6%;
}

h1 {
  color: #2ec1ac;
  font-family: 'Satisfy', cursive;

}

h3 {
  color: #66bfbf;
    font-family: 'Kaushan Script', cursive;
}
